<div class = 'row'>
  <div class="small-6 small-centered column info">
  <h2 class="log_in">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='row'>
      <div class='small-10 small-centered column'>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:'textbox' %>
        </div>
      </div>

      <div class='small-10 small-centered column'>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'textbox' %>
        </div>
      </div>

      <div class='small-3 small-centered center column'>
        <%= f.submit "Sign In", class: 'sign click' %>
      </div>
    </div>
  <% end %>

  </div>

</div>
